:root{
    --bluish: #7171da;
    --hover-bluish: #5a5ac7;
    --chosen-grey: rgb(237, 238, 245);
    --shadow-grey: rgb(197, 197, 197);
    --text-grey: rgb(3, 0, 77);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{    
    background-color: var(--chosen-grey);
    font-family: calibri, Arial, sans-serif;
    color: var(--text-grey);
}
nav#navbar-container{
    position: sticky;
    top: 0px;
    background-color: var(--bluish);
    padding: 10px;
}
div#navbar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: var(--chosen-grey);
    border: 2px solid var(--chosen-grey);
    color: var(--chosen-grey);
    border-radius: 30px;
}
header#logo-container > h1{
    display: none;
}
img#geo-search-logo{
    margin-left: 2px;
    margin-right: 10px;
    vertical-align: middle;
}
#search-bar{
    background-color: var(--chosen-grey);
    border: none;
    font-size: 1.2em;
    color: var(--text-grey);
    width: 240px;
    outline: none;
    height: 40px;
}
#search-button{
    background-color: var(--chosen-grey);
    color: var(--bluish);
    font-size: 1.3em;
    border: none;
}
aside#navigation{
    width: 100%;
    padding: 10px;
}
div#main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main#main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe#map{ 
    height: 90vh;
    width: 100vw;
}
section#place-details{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 20px 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px var(--shadow-grey);
    margin-bottom: 20px;
}
div#place h2{
    font-size: 4em;
    padding-bottom: 2px;
}
#place-details p{
    text-align: center;
    padding-top: 2px;
}
div.weather{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
div#weather-details{
    flex: 100%;
    max-width: 100%;
    padding-top: 20px;
}
.wlabels{
    font-style: italic;
    display: inline-block;
    width: 75%;
}
input#temperature, input#wind-speed, 
input#humidity{
    text-align: center;
    background-color: white;
    height: 30px;
    width: 60px;
    border: 1px solid var(--shadow-grey);
    font-weight: bold;
}
button#convert-temperature{
    display: block;
    width: 96%;
    height: 30px;
    border: 1px solid  rgb(95, 93, 167);;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    color: var(--text-grey);
}
#convert-temperature:hover{
    color: var(--hover-bluish);
    background-color: rgb(223, 223, 223);
    border: 1px solid var(--shadow-grey);
}
section#notable-places-container{
    display: flex;
    flex-direction: column;
}
#notable-places-container > h3{
    text-align: center;
    padding: 5px;
}
div.notable-places-card{
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px var(--shadow-grey);
}
.notable-places-card > .notable-places-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.notable-places-description > div:first-child{
    flex: 60%;
    max-width: 60%;
}
.notable-places-description > div:last-child{
    flex: 38%;
    max-width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.notable-places-img{
    width: 100%;
    height: 150px;
}