@media only screen and (min-width: 400px){
    input[type="search"]{
        width: 325px;
    }
}
@media only screen and (min-width: 450px){
    form{
        margin-right: 30px;
    }
}
@media only screen and (min-width: 587px){
    h2.h1{
        display: inline-block;
    }
}
@media only screen and (min-width: 768px){
    div#header-icon{
        padding: 20px;
    }
    aside#navigation{
        width: 30%;
        position: fixed;
        left: 0px;
        float: left;
        height: 100vh;
        overflow-y: auto;
    }
    .wlabels{
        width: 60%;
    }
    main#main{
        position: fixed;
        right: 0px;
        display: flex;
        width: 70%;
        height: 95vh;
        justify-content: center;
        align-items: center;
    }
    img#map{
        margin: auto;
        width: 90%;
        height: 80%;    
    }
}
@media only screen and (min-width: 880px){
    .wlabels{
        width: 70%;
    }
    button#convert-temperature{
        width: 97%;
    }
}
@media only screen and (min-width: 938px){

    button#convert-temperature{
        width: 94%;
    }
}
@media only screen and (min-width: 965px){

}
@media only screen and (min-width: 1033px){
    button#convert-temperature{
        width: 92%;
    }
}
@media only screen and (min-width: 1140px){
    button#convert-temperature{
        width: 90%;
    }
    img#map{
        border: 1px solid var(--shadow-grey);
    }
}